body {
  font-family: $font-primary;
    .name {
    display: none;
  }

  background-color: $ghostwhite;
  font-size: 1.2rem;
  line-height: 160%;
  a { text-decoration: none; }
  .lorem {
    background-color: $lightblue;
  }
  .typi {
    background-color: darken($lightblue, 10%);
  }
}

@include at-breakpoint($tablet){
  body {
    .name { display: inline};
    .lorem {
      @include span-columns(4,8);
    }
    .typi {
      @include span-columns(4 omega,8);
    }
  }
}

@include at-breakpoint($computer){
  header {
    .navigation {
      @include span-columns(4,8);
    }
  }
  body {
  }
}

#{headings()} {
  
  font-weight: normal;
 
  @include text-shadow(blue 1px 1px);
}

h1 {
  font-family: $font-secondary;
  font-size: 2.2rem;
  color: lighten($linen, 25);
  margin-bottom: .4rem;
  background-color: $snow;

}

a {
  color: $base-font-color;
  &:hover {
    color: lighten($base-font-color, 40%);
  }
}

footer {
  clear: both;
}
