<html>
    <head>
        <title>日報太郎</title>
        <meta name="description" content="日報作成支援システム">
        <meta property="og:title" content="日報太郎">
        <meta property="og:description" content="日報作成支援システム">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://koogawa.github.io/nippo/">
        <meta property="og:image" content="https://koogawa.github.io/nippo/title.png">
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@koogawa" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    </head>
    <body>
        <h1><img src="title.png"></h1>
        <div id="app">
            <table>
                <tr v-for="todo in todos">
                    <td>
                        <input type="checkbox" id="checkbox" v-model="todo.checked">
                        <input type="time" v-model="todo.start" step="300"> 〜 <input type="time" v-model="todo.end" step="300">
                        <input type="text" v-model="todo.task" size="40">
                    </td>
                </tr>
            </table>

            <ul><li>チェックを入れていない行は無視されるわよ</li></ul>

            <p>
                <textarea id="copyTarget" v-model="output" rows="20" cols="80"></textarea>
            </p>
            <p>
                <button v-on:click="copyToClipboard()">クリップボードにコピー</button>
            </p>
        </div>
        <script src="script.js"></script>
    </body>
</html>